<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate_db</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Kajal@7890</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		
		
		<mapping
			class="com.Hibernate.Hibernate_maven.Student_HibernateAnnotations" />
		<mapping class="com.Hibernate.Hibernate_maven.Address" />
		<mapping class="com.Hibernate.Hibernate_maven.Employee" />
		<mapping class="com.relationship.mapping.Quastion" />
		<mapping class="com.relationship.mapping.Answer" />
		<mapping class="one.to.many.Person" />
		<mapping class="one.to.many.Laptop" />
		<mapping class="many.to.many.relationship.Employee_ex"/>
		<mapping class="many.to.many.relationship.Projects"/>
		<mapping class="CURD_Project.Employee_List"/>
		<mapping class="com.pagination.Pagination_HQL"/>
	


	</session-factory>

</hibernate-configuration>