<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>mvc application</display-name>

	<!-- configure dispatcher servlet -->
	<servlet>
		<servlet-name>mvcCURD</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvcCURD-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- mapping for front controller/dispatcher servlet -->
	<servlet-mapping>
		<servlet-name>mvcCURD</servlet-name>
		<!-- it handle all request so use '/' -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
